---
title: multichaptertemplate
date: 2020-07-04 21:54:51
---

【授翻】【4MW 16】Scenes from a Marriage：Captain America at Home/婚后即景：英雄还家

categories:
- 漫威电影宇宙
tags:
- Stucky互攻
- Speranza
- 4 Minute Window
- 翻译
toc: true
---
作者：Speranza

（4MW系列第16篇，设定在队二之后，2019年Advent Calendar，全系列Stucky互攻，分级：E/NC-17。如有后续，会持续更新。）
<!-- more -->
<a href="/4mw-6/"><b>←上一部</b></a>

原文：https://archiveofourown.org/works/21726442

<a href="https://archiveofourown.org/users/RevolutionaryJo/pseuds/RevolutionaryJo" target="_blank">RevolutionaryJo</a>太太为本文录制的<a href="https://f002.backblazeb2.com/file/podfic/4MW/%5BMarvel+Cinematic+Universe%5D+4+Minute+Window+Series+07+-+Scenes+from+a+Marriage+-+A+Month+of+Sundays+(by+Speranza%2C+read+by+revolutionaryjo+and+XanaTenshi).mp3" target="_blank">英文有声书</a>

配图 by <a href="http://archiveofourown.org/users/alby_mangroves/pseuds/alby_mangroves" target="_blank" >alby_mangroves</a>

文还没修，肯定缺陷很多，会有错字，暂时先放上来……

点击页尾“⚓”可查看目录并跳转至相应章节。

正文：

<h2 id="Chapter 1">Chapter 1：12月8日</h2>



<h2 id="Chapter 2">Chapter 2：12月9日</h2>



<h2 id="Chapter 3">Chapter 3：12月10日</h2>



<h2 id="Chapter 4">Chapter 4：12月11日</h2>



<h2 id="Chapter 5">Chapter 5：12月12日</h2>



<h2 id="Chapter 6">Chapter 6：12月13日</h2>



<h2 id="Chapter 7">Chapter 7：12月14日</h2>



<h2 id="Chapter 8">Chapter 8：12月15日</h2>



<h2 id="Chapter 9">Chapter 9：12月16日</h2>



<h2 id="Chapter 10">Chapter 10：12月17日</h2>



<h2 id="Chapter 11">Chapter 11：12月18日</h2>



<h2 id="Chapter 12">Chapter 12：12月19日</h2>



<h2 id="Chapter 13">Chapter 13：12月20日</h2>



<h2 id="Chapter 14">Chapter 14：12月21日</h2>



<h2 id="Chapter 15">Chapter 15：12月22日</h2>



<h2 id="Chapter 16">Chapter 16：12月23日</h2>



<h2 id="Chapter 17">Chapter 17：12月24日</h2>



<b>-The End-</b>

<p align="right"><a href="/4mw-7/"><b>→下一部</b></a></p>